/* PLP Carauserl Banner */
.banner-image {
    background-image: url('/unsenimg/download.jpg');
    background-size: cover;
    background-position: center top;
    height: 70vh !important;
}
/* Product Section Start */
.product {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-images {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .product-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-images img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .product:hover .product-images img:first-child {
    transform: scale(1.1);
  }
  
  .product:hover .product-images img:nth-child(2) {
    display: block;
  }
  
  .product .actions {
    position: absolute;
    top: -50px;
    right: 10px;
    transition: top 0.3s ease;
  }
  
  .product:hover .actions {
    top: 10px;
  }
  
  .actions button {
    margin-right: 5px;
  }
   /* Product Section End */ 
  
  

  

/* NavBar Badge start */
/* .navbar-nav {
display: flex;
align-items: center;
}

.nav-link {
margin: 0 10px;
position: relative;
}

.badge {
position: absolute;
top: -8px;
right: -10px;
font-size: 0.75rem;
} */
/* NavBar Badge End */
/* Initially hide the search panel */
/* .search-panel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
} */

/* Show the search panel */
/* .search-panel.show {
    display: block;
    transform: translateX(-100%);
} */
